<div>
  <h2>Favoritos</h2>
  
  <ul>
    <!-- Renderiza a lista de favoritos -->
    <li *ngFor="let book of favoritos ">
      <!-- Capa do Livro -->
      <img [src]="book.cover" alt="Capa do livro" />
      <div class="book-info">
        <!-- Título -->
        <strong>{{ book.title }}</strong>
        <!-- Autor(es) -->
        <p *ngIf="book.author_name.length > 0">Autor: {{ book.author_name.join(', ') }}</p>
        <p *ngIf="book.author_name.length === 0">Autor desconhecido</p>
        <!-- Descrição -->
        <p>{{ book.description }}</p>
      </div>
      <button (click)="removeFavoritos(book.id)">Remover</button>
    </li>
  </ul>
</div>
