<main>
    <section>
      <h1> A sua biblioteca de Livros, <strong>grátis</strong> e para <strong>sempre</strong></h1>
  
    </section>  
    <div class="animation">
    <img src="assets/imagens/1984.jpg" alt="" height="200px" >
    <img src="assets/imagens/habito.jpg" alt="" height="200px">
    <img src="assets/imagens/meiaNoite.jpg" alt="" height="200px">
    <img src="assets/imagens/Ogalinheiro.jpg" alt="" height="200px">
    <img src="assets/imagens/desacelera.jpg" alt="">
    <!-- <img src="assets/imagens/arma.jpg" alt=""> /-->
  </div>
    
  </main> 